/*  Reset   */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}


body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

/*  Fonts */

@font-face {
    font-family: Amita;
    src: url(fonts/Amita.ttf);
}

/*  Custom CSS  */

body {
    font-family: 'Amita', sans-serif;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr 50px;
    align-content: end;
}

header {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
}

header img {
    width: 140px;
    margin-left: 1rem;
}

main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

main button {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin-bottom: 1rem;
}

main button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

main button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

main button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

dialog {
    margin: 160px auto;
    background-color: #c8c8c8;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    align-items: space-between;
}

fieldset {
    border: none;
    display: flex;
    gap: 0.5rem;
}

fieldset input {}

.tiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    padding: 1rem;

}

.tiles div {
    padding: 1rem;
    background-color: #61777F;
    color: #f8f8f8;
    font-size: 1.2rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.tiles .book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer {
    text-align: center;
}

h3 {
    font-size: 1.2rem;
}

button.read {
    background-color: rgb(185, 164, 124);
    color: #fff;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;

}